# systemd service file to start Cerebro

[Unit]
Description=Cerebro Elasticsearch management web console.
After=network.target
Documentation=https://github.com/lmenezes/cerebro

[Service]
Type=simple
PermissionsStartOnly=true
ExecStartPre=/usr/bin/install -o cerebro -g cerebro -d /var/run/cerebro
PIDFile=/var/run/cerebro/cerebro.pid
# Run as normal cerebro user - feel free to change...
User=cerebro
Group=cerebro
WorkingDirectory=/usr/share/cerebro
ExecStart=/usr/share/cerebro/bin/cerebro -J-Xms100m -J-Xmx100m -J-server
# Auto restart on crash
Restart=always
# Tag things in the log
SyslogIdentifier=Cerebro
#StandardOutput=syslog

[Install]
WantedBy=multi-user.target
